<!--
<div style="text-align:center">
  <app-dashboard></app-dashboard>
  <app-user-info></app-user-info>
</div>
-->
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/account">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/expenses">Expenses</a>
            </li>
          </ul>
      </nav>
<router-outlet></router-outlet>
</div>