<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://github.com/ningcsgh">
                        #Watson
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bdeng27">
                       #Ben
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bnr0010">
                        #Brianna
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
