<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Income</h4>
                    <p class="category">Logs for recording cash inflow</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>       
     					<a href="#" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
     					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" data-backdrop="false">Add new income</button>   
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Expense</h4>
                    <p class="category">Logs for recording cash outflow</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expenseModal" data-whatever="@mdo" data-backdrop="false">Add new expense</button>  
                </div>
            </div>
        </div>
    </div>
</div>
