<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
           
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-money"></i>
                            <p>Record</p>
                            <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" data-backdrop="false">Add new income</button></li>
                       <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expenseModal" data-whatever="@mdo" data-backdrop="false">Add new expense</button></li>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bankaccountModal" data-whatever="@mdo" data-backdrop="false">Add new bankaccount</button></li>
                      </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-user"></i><p>Logout</p>
                    </a></li>
            </ul>
        </div>
    </div>
</nav>


<!--  modal box for income -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Income Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Amount</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Note</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Place</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal box for expense -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalLabel">Expense Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Amount</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Note</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Place</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal box for bankaccount -->
<div class="modal fade" id="bankaccountModal" tabindex="-1" role="dialog" aria-labelledby="bankaccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bankaccountModalLabel">New bankaccount entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Name of the bank</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          <div class="form-group">
            <label for="amount-name" class="col-form-label">Current amount</label>
            <input type="text" class="form-control" id="amount-name">
          </div>
          <div class="form-group">
            <div class="dropdown">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  			Dropdown button
 			 </button>
  			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   			 <li><a class="dropdown-item" href="#">Checking</a></li>
   			 <li><a class="dropdown-item" href="#">Saving</a></li>
    		<li><a class="dropdown-item" href="#">Credit</a></li>
 			 </ul>
		</div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>





