<div>
  <div class="row">
    <div class="col col-3 offset-1">
      <p>placeholder</p>
    </div>
    <div class="col col-6 offset-1">
      <div class="jumbotron">
        <h1 class="display-4">Welcome Back.</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-5 offset-1">
      <table>
          <tbody>
              <tr>
                <th>Name</th>
                <td>{{user.name}}</td>
              </tr>
              <tr>
                <th>Income</th>
                <td>{{user.income}}</td>
              </tr>
              <tr>
                <th>Expenditure</th>
                <td></td>
              </tr>
              <tr>
                <th>Total Money</th>
                <td>{{bankAccount.amount}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col col-4 offset-6">
        <h4>Current Finantial Health: </h4>
      </div>
    </div>
</div>