<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h3 class="title">Get Serious</h3>
                        <p class="category">Want more ways to keep track of your money? </p>
                        <br>
                    </div>
                    <div class="content table-responsive table-full-width table-upgrade">
                        <table class="table">
                            <thead>
                                <th></th>
                                <th class="text-center">Free</th>
                                <th class="text-center">PRO</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Family sharing</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>Personalized notification</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>Mobile App development</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>Full Documentation</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>More analysis</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>Advance Strategies</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td>Premium Smile</td>
                                    <td>-</td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Free</td>
                                    <td>A cup of coffee</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" class="btn btn-round btn-fill btn-default disabled">Current Version</a>
                                    </td>
                                    <td>
                                        <a target="_blank" href="#" class="btn btn-round btn-fill btn-info">Upgrade to PRO</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
